In [93]:
pip install tushare

Requirement already satisfied: tushare in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (1.2.89)
Requirement already satisfied: pandas in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (1.5.3)
Requirement already satisfied: requests in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (2.28.2)
Requirement already satisfied: lxml in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (4.9.2)
Requirement already satisfied: simplejson in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (3.18.1)
Requirement already satisfied: bs4 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (0.0.1)
Requirement already satisfied: websocket-client==0.57.0 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from tushare) (0.57.0)
Requirement already satisfied: six in c:\users\huawei\appdata\roaming\python\python311\site-packages (from websocket-client==0.57.0->tushare) (1.16.0)
Requirement already satisfied: beautifulsoup4 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from bs4->tushare) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\huawei\appdata\roaming\python\python311\site-packages (from pandas->tushare) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from pandas->tushare) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from pandas->tushare) (1.23.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from requests->tushare) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from requests->tushare) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from requests->tushare) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from requests->tushare) (2022.12.7)
Requirement already satisfied: soupsieve>1.2 in c:\users\huawei\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->bs4->tushare) (2.3.2.post1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [88]:
import tushare as ts

ts.set_token('1b1663b94af21feb0f3cf3c0dbc048f825d37c9074b0c1e00862407a')

In [89]:
pro = ts.pro_api()

In [90]:
df = pro.query('daily', ts_code='600519.SH', start_date='20190228', end_date='20210228')

In [ ]:
figure, ax1 = plt.subplots()
ax1.plot(df[df.columns[1]], df[df.columns[5]])

In [ ]:
df.head()

In [ ]:
print(df.dtypes)

In [84]:
import pandas as pd

df2 = pd.DataFrame().assign(date=df['trade_date'], close=df['close'])
df2.head()

       date    close
0  20210226  2122.78
1  20210225  2150.00
2  20210224  2189.00
3  20210223  2307.00
4  20210222  2288.02

In [85]:
print(df2.dtypes)

date      object
close    float64
dtype: object

In [86]:
df2['date'] = df2['date'].astype('timedelta64')

In [87]:
df2.tail()

                         date   close
481 0 days 00:00:00.020190306  768.00
482 0 days 00:00:00.020190305  779.78
483 0 days 00:00:00.020190304  781.86
484 0 days 00:00:00.020190301  789.30
485 0 days 00:00:00.020190228  755.01